body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfLVMjBpDG6aLqlw1LCEBviLa4nEgPZfOE48yJeYHi2EfJBZ3-SQ');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
