body {
background-image: url('./piano.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
text-align: center;
}

.headLine {
  font-size: 50px;
  color: #008080;
}

p {
  font-size: 35px;
}
